<footer _ngcontent-utq-c1="" class="footer">
    <div _ngcontent-utq-c1="" class="row align-items-center justify-content-xl-between">
        <div _ngcontent-utq-c1="" class="col-xl-6">
            <div _ngcontent-utq-c1="" class="copyright text-center text-xl-left text-muted"> © 2018 <a
                    _ngcontent-utq-c1="" class="font-weight-bold ml-1" href="https://www.creative-tim.com"
                    target="_blank">Creative Tim</a></div>
        </div>
        <div _ngcontent-utq-c1="" class="col-xl-6">
            <ul _ngcontent-utq-c1="" class="nav nav-footer justify-content-center justify-content-xl-end">
                <li _ngcontent-utq-c1="" class="nav-item"><a _ngcontent-utq-c1="" class="nav-link"
                        href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li _ngcontent-utq-c1="" class="nav-item"><a _ngcontent-utq-c1="" class="nav-link"
                        href="https://www.creative-tim.com/presentation" target="_blank">About Us</a></li>
                <li _ngcontent-utq-c1="" class="nav-item"><a _ngcontent-utq-c1="" class="nav-link"
                        href="http://blog.creative-tim.com" target="_blank">Blog</a></li>
                <li _ngcontent-utq-c1="" class="nav-item"><a _ngcontent-utq-c1="" class="nav-link"
                        href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md"
                        target="_blank">MIT License</a></li>
            </ul>
        </div>
    </div>
</footer>